{{#if subterm.parent}}
<li>{{fa-icon 'angle-right'}}{{#link-to 'term.show' subterm.parent.ID}} {{subterm.parent.name}}{{/link-to}}</li>
{{/if}}
<li>{{fa-icon 'angle-right'}}{{#link-to 'sub-term.show' subterm.id}} {{subterm.name}}{{/link-to}}</li>