
	<div class="card-image">
		<img {{bind-attr src=post.featured_image.attachment_meta.sizes.post-thumbnail.url}}  >
	</div>
	<div class="card-copy">
			<div class="title"><a {{action 'showSubTerm' subterm.id}}>{{subterm.name}}</a></div>
			{{{excerptSafe}}}
	</div>
