<header id="header">
	<div class="heading-book">TENEMOS PATRIA, TENEMOS PROYECTO, SOMOS FUTURO
	</div>

	<div class="menu-gral">
		{{t-menu a="x-cross" action="toggle" is-open=show}}

		<div {{bind-attr class=":menu show:show"}}>
		{{#if show}}
			<nav>
			{{#each items as |menuItem|}}
				{{#unless menuItem.parent}}
					{{wp-menu-item item=menuItem}}
				{{/unless}}
			{{/each}}
			</nav>	
		{{/if}}
		</div>
	</div>
</header>