<header id="header">
	<h1 class="heading-book">{{#link-to 'index'}}Tenemos Patria, Tenemos Proyecto, Tenemos Futuro{{/link-to}}</h1>		
	<div class="menu-gral">
		{{t-menu a="x-cross" action="toggle" is-open=show}}

		<div {{bind-attr class=":menu show:show"}}>
		{{#if show}}
			<nav>
				<ul class="politicas">
				{{#each items as |menuItem|}}
					{{#unless menuItem.parent}}
						{{wp-menu-item item=menuItem}}
					{{/unless}}
				{{/each}}
				</ul>
			</nav>
		{{/if}}
		</div>
	</div>
</header>