
@import "variables";
@import "plugins/plugins";
@import "term";
@import "sub-term";
@import "post";
@import "articles";
@import "cards";
@import "landing";
//@import "introduccion";
@import "menu";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300italic,300,700,400italic,700italic);

.pace .pace-progress {
  position: fixed;
  z-index: 8000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}


/* -------------------------------- 

Primary style

-------------------------------- */


*, *::after, *::before 
{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html 
{
	font-size: 62.5%;
}
body 
{
	color: $dark-gray;
	line-height: $line-height-text;
	font-weight: 300;
	margin: 0;
	background-color: $color-2;
	
	h2 
	{
		text-align: center;
	}
	font: 
	{
		 // variables inside partials > _variables.scss
		size: $font-size-base;
		family: $article-font;
	}
	@media (min-width: $screen-md-min) 
	{
		overflow: hidden;
	}	
}
a 
{
	text-decoration: none;
	
	&:hover, &:active, &:focus 
	{
		color: $color-2;
		outline: 0;
		@include transition;
	}
}
#header
{
	background-color: #fff;
	border-bottom: 1px solid #f1f1f1;
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0;
	left: 0;

	.heading-book 
	{
		font-size: $font-size-small;
		text-align: left;
		padding-left: 5%;
		padding-top: 10px;
		margin: 0;
		font-weight: normal;

		a
		{
			color: $color-8;

			&:hover
			{
				color: $color-2;
			}
		}

		@media (max-width: $screen-sm-max) 
	    {
			padding-left: 10%;
	    }
	}
	.menu-gral
	{

	}
}
.overlay
{
	background-color: black;
	width: 100vw;
	height: 100vh;
}
.smart-back 
{
	color: $color-6;
	font-size: $font-size-xsmall;
	font-family: inherit;
	text-shadow: 1px 1px 2px rgba(0,0,0, 0.4);
	position: fixed;
    top: 9%;
    left: 5%;
    z-index: 1000;
    cursor: pointer;

	@media (max-width: $screen-sm-max) 
    {
		left: 10%;
		position: absolute;
    }
}
.smart-search 
{
	position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    /*top: 0px;
	left: 50%;
	background-color: #fff;
	width: calc(50vw - 13px);
	height: 56px;
	border-bottom: 1px solid #f2f2f2;*/

    .search 
    {
	    line-height: 33px;
	    text-align: center;
	    height: 40px;
	    width: 40px;
	    position: fixed;
	    right: 2%;
	    /*top: 15px;
	    background-color: rgba(255, 255, 255, 0.8);
		border-radius: 20px;*/
		-webkit-transition: width 500ms ease-out;
		-moz-transition: width 500ms ease-out;
		-ms-transition: width 500ms ease-out;
		-o-transition: width 500ms ease-out;
		transition: width 500ms ease-out;
 
	    .empty-data 
	    {
	    	margin: 95px;
	    }
	    ul {
	    	padding: 0;
	    	margin-top: 8%;

	    	@media (max-width: $screen-xs-max) 
		    {
				ul
				{
					margin: 0;
					padding: 0;
				}
		    }
		    @media (max-width: $screen-sm-max) 
		    {
				ul
				{
					margin: 0;
					padding: 0;
				}
		    }
	    }
	    fieldset 
	    {
			border: none;
			width: 100%;
			padding: 0;
			height: 70px;

	    	a 
	    	{
	    		float: right;
	    		display: block;
	    	}
	    	.fa, .fa-search  
	    	{
	    		color: $dark-gray;
	    		float: left;
				padding-top: 5px;
				margin-right: 10px;
	    	}
	    	.fa-search  
	    	{
	    		color: $color-7;
	    		position: relative;
	    		top: 30px;
	    	}
	    }
    	a 
    	{
    		cursor: pointer;
    	}
    	.close-search 
    	{
			width: 40px;
			height: 40px;
			display: block;
			font-size: 17px;
			line-height: 38px;
			position: fixed;
			top: 15px;
			right: 2%;
    	}
    	.open-search 
    	{
			width: 40px;
			height: 40px;
			display: block;
			font-size: 17px;
			line-height: 38px;
    	}
    	input 
    	{
    		opacity: 1;
		    float: left;
		    width: 100%;
			display: block;
			border: none;
			border-bottom: 1px solid #999;
			font-size: $font-size-base;
			padding: 7px 0 0px 25px;
			height: 41px;
			background: none;
			outline: none;
    		-webkit-transition: all .4s cubic-bezier(0.7,0,.3,1);
		    -moz-transition: all .4s cubic-bezier(0.7,0,.3,1);
		    transition: all .4s cubic-bezier(0.7,0,.3,1);
    	}
		::-webkit-input-placeholder 
		{
		   color: $color-7;
		}
		:-moz-placeholder 
		{ /* Firefox 18- */
		   color: $color-7;  
		}
		::-moz-placeholder 
		{  /* Firefox 19+ */
		   color: $color-7;  
		}
		:-ms-input-placeholder 
		{  
		   color: $color-7;  
		}
		&.show 
		{
			overflow-y: scroll;
			height: 100%;
		    //width: 100%;
		    width: 50%;
		    top: 0;
		    //left: 0;
		    right: 0;
		   	padding: 20px 80px 10px;
		    border-radius: 0;
		    text-align: left;
		    line-height: initial;
		    background-color: $color-5;

		    @media (max-width: $screen-sm-max) 
		    { 
			    width: 100%;
			}
		    a 
		    {
		    	color: #333;
		    }
	   		@media (max-width: $screen-xs-max) 
		    {
				width: 100%;
				padding: 5%;
		    }
		    @media (max-width: $screen-sm-max) 
		    {
				width: 100%;
				padding: 5%;
		    }	
		}
	}
}
.loading 
{
	text-align: center;
	margin: 95px;
}
.empty-data 
{
	text-align: center;

	.fa 
	{
		display: block;
		font-size: 25px;
		margin-bottom: 10px;
	}
}

/* -------------------------------- 

Breakpoints

-------------------------------- */
   
$S:     480px;   
$M:     1024px;     
$L:     1170px;     


/* -------------------------------- 

Media Queries

-------------------------------- */

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}


/* -------------------------------- 

Antialiasing mode font rendering

-------------------------------- */

@mixin font-smoothing 
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -------------------------------- 

Number of projects

-------------------------------- */

$items: 3;
$-items: 5;

/* -------------------------------- 

Main Components 

-------------------------------- */

.liquid-container
{
	.liquid-child 
	{
		@media (max-width: $screen-sm-max) 
	    {
			//overflow-y: scroll;
			height: 100%;
	    } 
	}    
}

.-half 
{

	ul 
	{
		list-style: none;
		margin: 0;
	}

	width: 50vw;
    float: left;

    .cd-single-project 
    {
    	width: 100%;
    	height: 100%;
    	height: 100vh;
  
    		@media (max-width: $screen-sm-max)
			{
				height: 100%;
				min-height: 55vh;
			}
    }
    /*.opacity 
    {
    	background-color:rgba(0, 0, 0, 0.4);
    	width: 100%;
    	height: 100%;
    	top:0;
    }*/
    .cd-title 
    {
    	width: 100%;
    	text-align: left;
    	top:0;

    	nav 
    	{
    		visibility: hidden;

    		ul 
    		{	
    			line-height: $line-height-text;
    			padding: 12% 10% 5%;

	   			li
    			{
    				padding-bottom: 0;
    			}    			
	    		a 
	    		{
	    			color: $color-5;
	    		}
    		}
    	}

    	ul
    	{
    		&.indice-subpolitica 
    		{	
	    		font-size: $font-size-small;
	    		line-height: $line-height-ul;
	    		padding: 2% 10% 10%;
	    		width: 100%;

				@media (max-width: $screen-xs-max)
				{
					padding: 0;
					//background-color: rgba(0, 0, 0, 0.1); 
				}

				li 
				{
					@media (max-width: $screen-xs-max)
					{
						padding: 5% 10%; 
						border-bottom: 1px solid rgba(255, 255, 255, 0.3);

						&:first-child
						{
							border-top: 1px solid rgba(255, 255, 255, 0.3);
						}

						&:last-child 
						{
							border-bottom: 0;
						}
						&.fa 
						{
						display: none;
						}
					}
				}
			}	

    		&.navigation
    		{
    			list-style: none;
				border-top: 1px solid rgba(255, 255, 255, 0.3);
				background-color: rgba(0, 0, 0, 0.2);
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 12vh;
				padding: 4% 10%;
				font-size: $font-size-small;

				li
				{
					&.item-prev {
						float: left;
						width: 50%;
						position: relative;
						//padding-left: 25px;
						line-height: $line-height-subtitle;

						.fa
						{
							float: left;
						}
						ul
						{
							list-style: none;

							&.prev
							{
								margin: 0;
								padding: 0;
								overflow: hidden;
		    					width: 100%;

		    					li
		    					{
			    					display: block;
			    					float: left;
			    					
			    					&:first-child
		    						{
									    overflow: hidden;
									    max-width: 5%;
									    margin-right: 15px;
		    							box-sizing: border-box;
		    						}
			    					&:last-child
		    						{
									    overflow: hidden;
		    							max-width: 85%;
		    						}    						
		    					}
		    				}	
						}
						/*&:before 
	        			{		
	        			content: '\00AB';
	        			position: absolute;
	        	    	top: 50%;
	      				left: 0;
	      				margin-top: -10px;
	      				color: $color-6;
	        			}*/	
	        		}
					&.item-next {
						float: right;
						width: 50%;
						position: relative;
						//padding-right: 25px;
						line-height: $line-height-subtitle;
						
						.fa
						{
							float: right;
						}
						ul
						{
							list-style: none;

							&.next
							{
								margin: 0;
								padding: 0;
								overflow: hidden;
		    					width: 100%;

		    					li
		    					{
			    					display: block;
			    					
			    					&:first-child
		    						{
									    overflow: hidden;
									    float: left;
		    							max-width: 90%;
		    						}
			    					&:last-child
		    						{
									    overflow: hidden;
										float: right;
									    max-width: 5%;
									    margin-left: 15px;
		    							box-sizing: border-box;
		    						}    						
		    					}
		    				}	
						}
						/*&:after
	        			{		
	        			//content: url(".../images/arrow-right.png");	
	        			content: '\00BB';
	        			position: absolute;
	        	    	top: 50%;
	      				right: 0;
	      				margin-top: -10px;
	      				color: $color-6;
	        			}*/
	        		}		        		
					/*a 
		    		{
		    			display: block;
		    		}*/	
				}

				@media (max-width: $screen-md-max)
				{
					display: none;
				}		
    		}
		}
		.heading-primary
		{
			color: $color-6;
			padding: 2% 10%;
			width: 100%;
			margin-top: 5%;

			&:before 
			{
			background-color: $color-6;
			content: "";
			position: absolute;
			top: 0px;
			height: 4px;
			width: 20px;
			}
			@media (max-width: $screen-sm-max)
			{
				font-size: $font-size-4;
				padding: 3% 10%;
				margin-top: 0;
			}
		}
		a {
			color: #fff;
		}
    }
}
.projects-container 
{
	height: 100vh;
	position: relative;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;

	@media (max-width: $screen-sm-max)
	{
		overflow-y: hidden;
	}
	&::before 
	{
		content: '';
	}
	/*	
	&.justicia_social 
	{
		background: $color-3;
	}
	&.independencia_economica 
	{
		background: $color-2;
	}
	&.soberania_politica 
	{
		background: darken(#101524, 2%);
	}
	&.tenemos_futuro 
	{
		background: darken(#101524, 9%);
	}*/
	ul 
	{
		li
		{
			&.cd-single-project
			{
				border-right: 1px dotted #ADC1CE;
				position: absolute;
				top: 0;
				left: 0;
				width: 100vw/$items;
				height: 100%;
			    overflow: hidden;
			    opacity: 1;

				-webkit-transition: all .4s cubic-bezier(0.7,0,.3,1);
			    -moz-transition: all .4s cubic-bezier(0.7,0,.3,1);
			    transition: all .4s cubic-bezier(0.7,0,.3,1);

				&:nth-of-type(2) 
				{
					top: 0;
					left: 100vw/$items;
				}
				&:nth-of-type(3) 
				{
					top: 0;
					left: 100vw*2/$items;
					border-right: none;

					@media (max-width: $screen-sm-max) 
				    {
						border-right: none;
				    }
				}


				/*&:nth-of-type(4) 
				{ 
					border-right: none;
					top: 0;
					left: 100vw*3/$items;

					@media (max-width: $screen-sm-max) 
				    {
						border-bottom: none;
				    }
				}*/
				&.is-loaded 
				{
					// move items in the viewport when background images have been loaded
					opacity: 0;
					opacity: 1;
				}
				&.is-full-width 
				{
					// selected item
					top: 0;
					height: auto;
					z-index: 1;
					cursor: auto;
					left: 0vw;
					width: 100vw;

					&::after 
					{
						height: 100vh;
					}
				}
				.cd-title 
				{
					opacity: 1;
				    //text-align: center;
					height: 100%;
					width: 100%;
					z-index: 1;
					top: 0;
					left: 0;
					//position: relative;

					a
					{	
						color: $color-6;
						/*position: absolute;
						z-index: 1000;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						//white-space: nowrap;

						/*&:hover 
					    {
					    	background-color:rgba(0, 0, 0, 0);
							transition: all 0.4s ease-in-out;
					    }*/	
					}    
		    		.heading-primary 
		    		{
						font-size: $font-size-2;
						color: $color-6;
						line-height: $line-height-title;
						font-weight: 700;

						&:before 
						{
							background-color: white;
							margin-top: -20px;
						}

						@media (max-width: $screen-md-max) 
				    	{
							font-size: $font-size-5;
				    	}
				    	@media (max-width: $screen-sm-max) 
						{
							font-size: $font-size-7;
						}	
					}
					p 
					{
						font-size: $font-size-base;
						font-family: $article-font;
						font-style: italic;
						padding: .4em 0;
						opacity: .6;
						padding: 0px 10%;
						display: block;
					}
				    .is-full-width & 
				    {
						top: 50vh;
					}
					.is-loaded & 
					{
						opacity: 1;
					}
					.is-loaded.is-full-width & 
					{
						left: (100vw - 100vw/$items)/2;
					}
				}
				@media (max-width: $screen-sm-max) 
			    {
			    	border-right: 0;
					border-bottom: 1px solid #ADC1CE;
					width: 100%;
					height: 100vh/$items;
					
					/*&:nth-of-type(1)
					{
						top: 0;
						top: 100vh/$items;
					}*/
					&:nth-of-type(2)
					{
						left: 0;
						top: 100vh/$items;
					}
					&:nth-of-type(3)
					{
						left: 0;
						top: 100vh*2/$items;

						&:last-child
						{
							border-bottom: 0;
						}
					}
				}
			}
		}
	}
	&.-half 
	{
	    @media (max-width: $screen-sm-max)
		{
			height: auto;
			width: 100vw;
		}	
	}
}
.cd-project-info 
{
	clear: both;
	visibility: hidden;
	opacity: 0;	
	margin-top: 100vh;
	padding: 4em 0;
	cursor: auto;
	background-color: $color-2;
	color: lighten($color-3, 30%);

	.is-full-width & 
	{
		visibility: visible;
		opacity: 1;
	}
	p 
	{
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		line-height: 2;
	}
}
.chapters-container, 
.article-container 
{
	width: 50vw;
    position: relative;
    overflow-x: hidden;
    float: right;
    background: $color-6;
    padding: 4% 5% 1% 5%;
    //padding: 100px 80px 40px 80px;
    height: 100vh;
    -webkit-overflow-scrolling: touch;

	@media (max-width: $screen-sm-max)
	{
		height: auto;
		width: 100vw;		
	}
	nav
	{
		&.breadcrumb
		{
			ul
			{
				display: inline;
				list-style: none;
				margin: 0;
				padding: 0;

				li
				{
					display: inline;
					font-family: $article-font;
					font-size: $font-size-xsmall;
					color: $color-7;

					.fa
					{
						padding: 0 4px;
					}
					a 
					{
						color: $color-7;

						&:hover
						{
							color: $color-2;
						}
					}
					& ~ div
					{
						display: inline;
					}
				}
			}
		}
	}

}
.chapters-container
{
	nav
	{
		&.breadcrumb
		{
			ul
			{
				display: inline;
				list-style: none;
				margin: 0;
				padding: 0;

				li
				{
					display: inline;
					font-family: $article-font;
					font-size: $font-size-xsmall;
					color: $color-7;

					.fa
					{
						padding: 0 4px;
					}
					a 
					{
						color: $color-7;

						&:hover
						{
							color: $color-2;
						}
					}
					& ~ div
					{
						display: inline-block;
					}
				}
			}
		}
	}
	div 
	{
		&.share
		{
			border-top: 1px solid $color-5;
			width: 100%;
    		float: left;
    		margin-top: 30px;

			ul
			{
				list-style: none;
				font-size: $font-size-xsmall;
			    display: inline-block;
			    color: $color-7;
			    margin: 25px 0;
			    padding: 0;
				
				li
				{
					display: inline-block;

					&:last-child
					{
					    margin-left: 5px;
					    background-color: $color-7;
					    border-radius: 50%;
					    width: 25px;
					    padding: 3px;
					    height: 25px;

					    .fa
					    {
					    	color: $color-6;
					    	padding-left: 6px;
					    }
			
						&:hover
						{
							background-color: #3b5998;
							cursor: pointer;
						}
					}
				}
			}

			@media (max-width: $screen-sm-max) 
		    {
				border-top: 0;
				margin-bottom: 40px;
		    }	
		}
	}
}

.article-container
{
	ul
	{
		&.navigation
		{
			list-style: none;
			border-top: 1px solid $color-5;
			bottom: 0;
			width: 100%;
			padding: 4% 0;
			left: 0;
			margin-bottom: 0;
			font-size: $font-size-small;
			color: $color-7;

			li
			{
				a
				{
					color: inherit;

					&:hover
					{
						color: $color-2;
					}
				}
				&.item-prev {
					float: left;
					width: 50%;
					position: relative;
					//padding-left: 25px;
					line-height: $line-height-subtitle;
					
					
					.fa
					{
						float: left;
					}
					ul
					{
						list-style: none;

						&.prev
						{
							margin: 0;
							padding: 0;
							overflow: hidden;
	    					width: 100%;

	    					li
	    					{
		    					display: block;
		    					float: left;
		    					
		    					&:first-child
	    						{
								    overflow: hidden;
								    max-width: 5%;
								    margin-right: 15px;
	    							box-sizing: border-box;
	    						}
		    					&:last-child
	    						{
								    overflow: hidden;
	    							max-width: 90%;

	    							@media (max-width: $screen-xs-max)
									{
										max-width: 80%;
									}
	    						}    						
	    					}
	    				}	
					}

					@media (max-width: $screen-xs-max)
					{
						width: 48%;
					}
        		}
				&.item-next {
					float: right;
					width: 50%;
					position: relative;
					//padding-right: 25px;
					line-height: $line-height-subtitle;
					
					.fa
					{
						float: right;
					}
					ul
					{
						list-style: none;

						&.next
						{
							margin: 0;
							padding: 0;
							overflow: hidden;
	    					width: 100%;

	    					li
	    					{
		    					display: block;
		    					
		    					&:first-child
	    						{
								    overflow: hidden;
								    float: left;
	    							max-width: 90%;	    		

	    							@media (max-width: $screen-xs-max)
									{
										max-width: 80%;
									}
	    						}
		    					&:last-child
	    						{
								    overflow: hidden;
									float: right;
								    max-width: 5%;
								    margin-left: 15px;
	    							box-sizing: border-box;
	    						}    						
	    					}
	    				}	
					}

					@media (max-width: $screen-xs-max)
					{
						width: 48%;
					}
        		}		        		
			}

			@media (min-width: $screen-md-min)
			{
				display: none;
			}	
		}
	}

	div 
	{

		&.share
		{
			border-top: 1px solid $color-5;

			ul
			{
				list-style: none;
				font-size: $font-size-xsmall;
			    display: inline-block;
			    color: $color-7;
			    margin: 25px 0;
			    padding: 0;
				
				li
				{
					display: inline-block;

					&:last-child
					{
					    margin-left: 5px;
					    background-color: $color-7;
					    border-radius: 50%;
					    width: 25px;
					    padding: 3px;
					    height: 25px;

					    .fa
					    {
					    	color: $color-6;
					    	padding-left: 6px;

					    	@media (max-width: $screen-sm-max) 
						    {
								padding-left: 0px;
						    }
					    }
			
						&:hover
						{
							background-color: #3b5998;
							cursor: pointer;
						}
					}	
				}
			}	

			@media (max-width: $screen-sm-max) 
		    {
				border-top: 0;
				margin-bottom: 40px;
				text-align: center;
		    }	
		}
	}	

	@media (max-width: $screen-sm-max)
	{
		padding: 5% 10%;
	}
}

.projects-container .cd-close, 
.projects-container .cd-scroll 
{
	display: block;
	z-index: 1;
	width: 44px;
	height: 44px;

	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	visibility: hidden;
}

.projects-container .cd-close 
{
	position: fixed;
	top: 30px;
	right: 5%;
	background: url('../img/cd-icon-close-mobile.svg') no-repeat center center;
	background-image: url('../img/cd-icon-close-desktop.svg');	
}
.projects-container .cd-scroll 
{
	position: absolute;
	bottom: 30px;
	left: 50%;
	
	background: url('../img/cd-icon-arrow-mobile.svg') no-repeat center center;
	background-image: url('../img/cd-icon-arrow-desktop.svg');
}
.project-is-open .cd-close, 
.project-is-open .cd-scroll 
{
	visibility: visible;
}
.project-is-open .cd-scroll 
{
}
.no-touch .project-is-open .cd-close:hover 
{
}
.no-touch .project-is-open .cd-scroll:hover 
{
}

/* -------------------------------- 

Colors

-------------------------------- */

#landing
{
	.soberania_politica {
		background-color: transparent;
	}
	.independencia_economica {
		background-color: transparent;
	}
	.justicial_social {
		background-color: transparent;
	}
	.tenemos_futuro {
		background-color: transparent;
	}
}
.soberania_politica {
	background: $color-1;
	//background-image: url("http://somosfuturo.com.ar/contenido/wp-content/uploads/2015/07/500.jpg");

	/*section
	{
		> .article-items
		{
			> .heading-secondary 	{
				color: $color-1;
			}
		}
	}*/
}
.independencia_economica {
	background: $color-2;
}
.justicial_social {
	background: $color-3;
}
.tenemos_futuro {
	background: $color-4;
}
.tenemos-futuro {

	ul
	{
		&.navigation
		{
			display: none;
		}
	}
}

#soberania_politica, #independencia_economica, #justicial_social, #tenemos_futuro 
{
	background-size: cover;
	background-position: center;	
}


#soberania_politica {
	background-image: url("http://somosfuturo.com.ar/contenido/wp-content/uploads/2015/07/soberania-politica_2.jpg");
	
	#term 
	{
		.cd-title 
		{
			.title
			{
				background-color: $color-1;

				@media (max-width: $screen-sm-max)
				{	
					background-color: transparent;
				}
			}
		}
	}
}

#independencia_economica {
	background-image: url("http://somosfuturo.com.ar/contenido/wp-content/uploads/2015/07/independecnia-economica_caratula.jpg");

	#term 
	{
		.cd-title 
		{
			.title
			{
				background-color: $color-2;

				@media (max-width: $screen-sm-max)
				{	
					background-color: transparent;
				}
			}
		}
	}
}

#justicia_social {
	background-image: url("http://somosfuturo.com.ar/contenido/wp-content/uploads/2015/07/justicia-social_caratula.jpg");

	#term 
	{
		.cd-title 
		{
			.title
			{
				background-color: $color-3;

				@media (max-width: $screen-sm-max)
				{	
					background-color: transparent;
				}
			}
		}
	}
}

#tenemos_futuro 
{	
	background-image: url("http://somosfuturo.com.ar/contenido/wp-content/uploads/2015/07/500.jpg");

    .cd-title 
    {
    	width: 100%;
    	text-align: left;
    	top:0;

    	ul
    	{
    		&:first-child {
    			visibility: hidden;	
    		}
    		
    	}

    }				
}

/* -------------------------------- 

Headings

-------------------------------- */

.heading
{
	font-family: $title-font;
}

.heading-primary, .heading-article, .heading-sub-article, .heading-secondary {
	text-align: left;
}

.heading-primary
{
	font-size: $font-size-1;
	line-height: $line-height-title;
	text-transform: uppercase;	
	position: relative;
	padding: 15px 0;

	&:before
	{
		content: '';
		position: absolute;
		top: 0;
		height: 4px;
		width: 20px;
	}
}

.heading-article {
	font-size: $font-size-5;
	font-weight: 700;
	line-height: $line-height-subtitle;
	font-style: italic;
	margin-bottom: 1.2em;

}

.heading-sub-article {
	font-size: $font-size-7;
	font-weight: 700;
	font-style: italic;
	font-family: $article-font;
}

.heading-secondary {
	color: $color-1;
	font-family: $title-font;
	font-size: $font-size-base;
	text-transform: uppercase;
	font-weight: 700;
	//line-height: $line-height-7;
}

.heading-index {
	font-family: $article-font;
	font-size: $font-size-xsmall;
	
	a {
		color: $color-6;

		&:hover
		{
			color: $color-2;
		}
	}
}	

.heading-term {
	font-family: $article-font;
	//font-style: italic;
	font-size: $font-size-8;
	font-weight: 700;
	color: $color-6;
	text-shadow: 1px 1px 2px rgba(0,0,0, 0.4);

	a {
		color: #fff;
	}
}	

.heading-sub-term {
	font-family: $article-font;
	font-style: italic;
	font-weight: 700;
	font-size: $font-size-7;
	color: $color-6;
	text-shadow: 1px 1px 2px rgba(0,0,0, 0.4);

	a {
		
		&:hover 
		{
			color: $color-6;
		}
	}
}

/* -------------------------------- 

Galeria

-------------------------------- */

.gallery-item {
	margin: 0px;

	img {
		width: 100%;
		height: auto;
	}
}

.opacity 
{
	background-color:rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	top:0;

	@media (max-width: $screen-sm-max)
	{
		height: 100%;
		min-height: 40vh;
	}
}

/* -------------------------------- 

Resultados de búsqueda

-------------------------------- */

#search 
{
    list-style: none;
	margin-top: 25px;
	margin-bottom: 20px;
	border-bottom: 1px solid #CCC;
	padding-bottom: 15px;

	small
	{
		display: block;
		margin-bottom: 5px;

		a 
		{
    	font-size: $font-size-small;	
    	color: $color-7;
    	font-style: italic;

			&:hover 
			{
				color: $color-2;
			}
		}
	}	
	p 
	{
		font-size: $font-size-small;
		line-height: 1.5;
	}
	a 
	{
		&.title 
		{
			color: $color-1;
			font-size: $font-size-base;
			font-weight: 700;
			text-transform: uppercase;

			&:hover
			{
				color: $color-2;		
			}
		}

	}	
	a 
    {
      color: $color-1;
      text-decoration: none;
      cursor: pointer;

      &.btn 
      {
        font-size: $font-size-xsmall;
        color: $color-1;
      }
    } 
}    

.highlight {
    background-color: #FFFF88;
}