
@import "variables";
@import "plugins/plugins";
@import "term";
@import "sub-term";
@import "post";
@import "articles";
@import "cards";
@import "landing";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300italic,300,700,400italic,700italic);

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before 
{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html 
{
	font-size: 62.5%;
}
body 
{

	font: 
	{
		 // variables inside partials > _variables.scss
		size: $font-size-base;
		family: $article-font;
	}
	
	color: $dark-gray;
	line-height: $line-height-base;
	font-weight: 300;
	margin: 0;
	background-color: $color-3;
	
	h2 
	{
		text-align: center;
	}

}

a 
{
	color: #0083ff;
	text-decoration: none;
}

.smart-back 
{
	position: fixed;
    top: 25px;
    right: 25px;
    z-index: 1000;
    cursor: pointer;
}
.smart-search 
{
	position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;

    .search 
    {
	    color: #333;
	    line-height: 33px;
	    text-align: center;
	    height: 35px;
	    width: 35px;
		position: fixed;
	    top: 15px;
	    left: 15px;

		-webkit-transition: all .4s cubic-bezier(0.7,0,.3,1);
	    -moz-transition: all .4s cubic-bezier(0.7,0,.3,1);
	    transition: all .4s cubic-bezier(0.7,0,.3,1);
  
	    .empty-data 
	    {
	    	margin: 95px;
	    }
	    fieldset 
	    {
	    	border: none;
	    	width: 100%;

	    	a 
	    	{
	    		float: right;
	    		display: block;
	    	}
	    }
    	a 
    	{
    		cursor: pointer;
    	}
    	p 
    	{
    		display: none;
    	}

    	input 
    	{
    		opacity: 0;
		    float: left;
		    width: 80%;
		    display: block;
    
    		-webkit-transition: all .4s cubic-bezier(0.7,0,.3,1);
		    -moz-transition: all .4s cubic-bezier(0.7,0,.3,1);
		    transition: all .4s cubic-bezier(0.7,0,.3,1);
    	}
		&.show 
		{
			background: #f9f9f9;

			input 
			{
	    		opacity: 1;
	    	}
			height: 100%;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		   	padding: 15px;
		    border-radius: 0;
		    text-align: left;
		    line-height: initial;
		}
	}
}
.loading 
{
	text-align: center;
	margin: 95px;
}
.empty-data 
{
	text-align: center;

	.fa 
	{
		display: block;
		font-size: 25px;
		margin-bottom: 10px;
	}
}



/* -------------------------------- 

Breakpoints

-------------------------------- */
   
$S:     480px;   
$M:     1024px;     
$L:     1170px;     


/* -------------------------------- 

Media Queries

-------------------------------- */

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}


/* -------------------------------- 

Antialiasing mode font rendering

-------------------------------- */

@mixin font-smoothing 
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -------------------------------- 

Number of projects

-------------------------------- */

$items: 4;




/* -------------------------------- 

Main Components 

-------------------------------- */

.projects-container 
{
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;


/*	&.justicia_social 
	{
		background: $color-3;
	}
	&.independencia_economica 
	{
		background: $color-2;
	}
	&.soberania_politica 
	{
		background: darken(#101524, 2%);
	}
	&.tenemos_futuro 
	{
		background: darken(#101524, 9%);
	}*/
	&::before 
	{
		/* never visible - this is used in jQuery to check the current MQ */
		content: 'mobile';
		display: none;
	}
	.cd-single-project 
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%/$items;
	    overflow: hidden;

		-webkit-transition: all .4s cubic-bezier(0.7,0,.3,1);
	    -moz-transition: all .4s cubic-bezier(0.7,0,.3,1);
	    transition: all .4s cubic-bezier(0.7,0,.3,1);

		/* on mobile -  move items outside the viewport */
	    &::after 
	    {
	    	/* background image */
	    	content: '';
	    	position: absolute;
	    	top: 0;
	    	left: 0;
	    	height: 100vh/$items;
	    	width: 100%;
	    	background-image: url('../img/img-1-small.jpg');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover; 
			
	    }
	    &::before 
	    {
	    	/* never visible - this is used in jQuery to detect if the background image has been loaded  */
			content: 'img/img-1-small.jpg';
			display: none;
	    }
		&:nth-of-type(2) 
		{
			top: 100vh/$items;
			
			&::after 
			{
				background-image: url('../img/img-2-small.jpg'); 
			}
			&::before 
			{
				content: 'img/img-2-small.jpg';
			}
		}
		&:nth-of-type(3) 
		{
			top: 100vh*2/$items;

			&::after 
			{
				background-image: url('../img/img-3-small.jpg'); 
			}

			&::before {
				content: 'img/img-3-small.jpg';
			}
		}

		&:nth-of-type(4) { 
			top: 100vh*3/$items;

			&::after 
			{
				background-image: url('../img/img-4-small.jpg'); 
			} 

			&::before 
			{
				content: 'img/img-4-small.jpg';
			}
		}
		&.is-loaded 
		{
			/* move items in the viewport when background images have been loaded */
		}
		&.is-full-width 
		{
			/* selected item */
			top: 0;
			height: auto;
			z-index: 1;
			cursor: auto;
			
			&::after 
			{
				height: 100vh;
			}
		}	
	}
	&::before 
	{
		/* never visible - this is used in jQuery to check the current MQ */
		content: 'desktop';
	}
	.cd-single-project 
	{
		width: 100vw/$items;
		height: 100%;
		opacity: 1;


		&:first-of-type::before 
		{
			content: 'img/img-1-large.jpg';
		}
		&:first-of-type::after 
		{
			background-image: url('../img/img-1-large.jpg'); 
		}
		&:nth-of-type(2) 
		{
			top: 0;
			left: 100vw/$items;

			&::before 
			{
				content: 'img/img-2-large.jpg';
			}
			&::after 
			{
				background-image: url('../img/img-2-large.jpg'); 
			} 
		}
		&:nth-of-type(3) 
		{
			top: 0;
			left: 100vw*2/$items;

			&::before 
			{
				content: 'img/img-3-large.jpg';
			} 
			&::after 
			{
				background-image: url('../img/img-3-large.jpg'); 
			}
		}
		&:nth-of-type(4) 
		{ 
			top: 0;
			left: 100vw*3/$items;

			&::before 
			{
				content: 'img/img-4-large.jpg';
			} 
			&::after 
			{
				background-image: url('../img/img-4-large.jpg'); 
			}
		}
		&::after 
		{
			height: 100vh;
			width: 100%;
			opacity: 0;
		}
		&.is-loaded 
		{
			/* show items when background images have been loaded */
			opacity: 1;

			&::after 
			{
				opacity: 1;
			}
		}
		&.is-full-width 
		{
			/* selected item */
			left: 0vw;
			width: 100vw;
		}
		img {
			height:100%; 
			width: auto; 
			opacity: 1; 
			position: relative;
			//top: -20px;
		}
	}
	.cd-single-project::after 
	{
		background-attachment: fixed;
	}
	.cd-single-project.is-loaded::after 
	{
		opacity: 0;
	}
    .no-touch & .cd-single-project:hover::after, 
    .cd-single-project.is-full-width.is-loaded::after 
    {
    	opacity: 1;
    }
}
.cd-title 
{
	position: absolute;
	z-index: 1;
	left: 0;
    text-align: center;
	top: 50vh;
	width: 100vw/$items;
	opacity: 1;

    .is-full-width & 
    {
		top: 50vh;
	}
	> * 
	{
		/*text-shadow: 0 1px 4px rgba(#000, .2);*/
	}
	h2 
	{
		font-size: 2.5rem;
		line-height: 1.5; 
		font-weight: 700;
	}
	p 
	{
		font-size: $font-size-base;
		font-family: $article-font;
		font-style: italic;
		padding: .4em 0;
		display: none;
		opacity: .6;
		padding: 0px 10%;
	}
	.is-loaded & 
	{
		opacity: 1;
	}
	.is-loaded.is-full-width & 
	{
		left: (100vw - 100vw/$items)/2;
	}
	p 
	{
		display: block;
	}
}
.cd-project-info 
{
	clear: both;
	visibility: hidden;
	opacity: 0;	
	margin-top: 100vh;
	padding: 4em 0;
	cursor: auto;
	background-color: $color-1;
	color: lighten($color-3, 30%);

	.is-full-width & 
	{
		visibility: visible;
		opacity: 1;
	}
	p 
	{
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		line-height: 2;
	}
}
.-half 
{
	width: 50vw;
    float: left;
    
    .cd-single-project 
    {
    	width: 100%;
    }
    .cd-title 
    {
    	width: 100%;
    	top: 12.5vh;
    	text-align: left;

    	ul {
    		list-style: none;
    		padding: 0 80px;
    		line-height: $line-height-5;

    		&:first-child 
    		{
    			line-height: $line-height-base;
    		}
    	}
    }
}
.chapters-container, 
.article-container 
{
	width: 50vw;
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    float: right;
    background: #fff;
    padding: 200px 80px 40px 80px;
    height: 100vh;
}
.projects-container .cd-close, 
.projects-container .cd-scroll 
{
	display: block;
	z-index: 1;
	width: 44px;
	height: 44px;

	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	visibility: hidden;
}

.projects-container .cd-close 
{
	position: fixed;
	top: 30px;
	right: 5%;
	background: url('../img/cd-icon-close-mobile.svg') no-repeat center center;
	background-image: url('../img/cd-icon-close-desktop.svg');	
}
.projects-container .cd-scroll 
{
	position: absolute;
	bottom: 30px;
	left: 50%;
	
	background: url('../img/cd-icon-arrow-mobile.svg') no-repeat center center;
	background-image: url('../img/cd-icon-arrow-desktop.svg');
}
.project-is-open .cd-close, 
.project-is-open .cd-scroll 
{
	visibility: visible;
}
.project-is-open .cd-scroll 
{
}
.no-touch .project-is-open .cd-close:hover 
{
}
.no-touch .project-is-open .cd-scroll:hover 
{
}

/* -------------------------------- 

Colors

-------------------------------- */

#landing
{
	.soberania_politica {
		background-color: transparent;
	}
	.independencia_economica {
		background-color: transparent;
	}
	.justicial_social {
		background-color: transparent;
	}
	.tenemos_futuro {
		background-color: transparent;
	}
}
.soberania_politica {
	background: $color-1;

	section
	{
		> .article-items
		{
			> .heading-secondary 	{
				color: $color-1;
			}
		}
	}
}
.independencia_economica {
	background: $color-2;
}
.justicial_social {
	background: $color-3;
}
.tenemos_futuro {
	background: $color-4;
}

/* -------------------------------- 

Headings

-------------------------------- */

.heading
{
	font-family: $title-font;
}

.heading-primary, .heading-article, .heading-sub-article, .heading-secondary {
	text-align: left;
}

.heading-primary
{
	font-size: $font-size-1;
	line-height: $line-height-1;
	text-transform: uppercase;	
	position: relative;
	padding: 15px 0;

	&:before
	{
		content: '';
		position: absolute;
		top: 0;
		height: 4px;
		width: 20px;
	}
}

.heading-article {
	font-size: $font-size-5;
	font-weight: 700;
	line-height: $line-height-5;
	font-style: italic;
	margin-bottom: 1.2em;

}

.heading-sub-article {
	font-size: $font-size-7;
	font-weight: 700;
	font-style: italic;
	font-family: $article-font;
}

.heading-secondary {
	color: $color-1;
	font-family: $title-font;
	font-size: $font-size-base;
	text-transform: uppercase;
	font-weight: 700;
	line-height: $line-height-7;
}

.heading-term {
	font-family: $article-font;
	font-style: italic;
	font-size: $font-size-base;
	color: $color-6;
	opacity: 0.8;

	a {
		color: #fff;
	}
}	

.heading-sub-term {
	font-family: $article-font;
	font-style: italic;
	font-weight: 700;
	font-size: $font-size-7;
	color: $color-6;

	a {
		color: #fff;
	}
}

/* -------------------------------- 

Galeria

-------------------------------- */

.gallery-item {
	margin: 0px;

	img {
		width: 100%;
		height: auto;
	}
}