
article.type-system-slab {

  text-align: left;
  
  h1, h2, h3, p {
    margin: 0;
  }

  hr {
    border-bottom: 1px solid $light-gray;
    border-left: none;
    border-right: none; 
    border-top: none;
    margin: $base-spacing 0;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;

    em {
      font-size: 1.6em;
      font-family: PT Sans;      
    }
  }

  a {
    color: $action-color;
    text-decoration: none;
  }

  p img {
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 0 auto;
  }
  .aligncenter {
  	text-align: center;
  }

  blockquote {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    text-align: center;
    margin: 80px 0;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    font-family: $sans-serif;

    p {
      color: $color-1;
    }
  }

  .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: $sans-serif;
    font-size: 0.7em;
    font-weight: 600;
    margin-bottom: 2em;
    padding: 0.1em 0;
    text-align: left;
    text-transform: uppercase;
  }

  h1 {
    font-family: $serif;
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 0.6em;
    
  }

  h2 {
    font-family: $sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 1.2em;

    
  }

  code {
    background: #F7F7F7;
    border-radius: $base-border-radius * 1.5;
    border: 1px solid #E0E0E0;
    font-size: 0.8em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap;
  }

  h3 {
   font-family: $serif;
   font-size: 1em;
   font-weight: 600;
   line-height: 1.4em;
   margin-bottom: 0.5em; 
   text-transform: uppercase;
  }

  p.date {
    color: transparentize($base-font-color, 0.6);
    font-family: $serif;
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }

  p {
    font-family: $serif;
    font-weight: 300;
    letter-spacing: 1;
    margin-bottom: 1.5em;

    span {
      font-family: $sans-serif;
      font-size: 0.8em;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  a.read-more {
    display: inline-block;
    font-family: $serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase;

    span {
      font-size: 1.8em;
      position: absolute;
      right: -12px;
      top: -2px;
    }
  }

  hr {
    width: 3em;
  }

  p.author {
    font-family: $serif;
  }
}