.cards {
  padding: 0;
}

.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: #F4F4F4;
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: #F8F2B4;

  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 5%);
  //cursor: pointer;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;
  display: block;
  width: 45%;
  float: left;
  list-style: none;
  


  .card-image {
    overflow: hidden;
    /*height: 200px;
    max-height: 150px;*/
    height: 170px;
    max-height: 200px;
    //background-color: $card-image-hover-color;
    background-color: $color-1;

    img {
      //@include transition (all 0.2s ease-in-out);
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
      opacity: 1;
    }
  }

  .card-header 
  {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
  }
  .card-copy 
  {
    color: $dark-gray;
    padding: ($base-spacing / 1) ($base-spacing / 1);

    p 
    {
      font-size: $font-size-small;
      line-height: 1.8;
      margin: 0 0 ($base-spacing / 2);
      color: #333;
    }
    a 
    {
      color: $color-1;
      text-decoration: none;
      cursor: pointer;

      &.btn 
      {
        font-size: $font-size-xsmall;
        color: $color-1;
      }
    }
    .title 
    {
      font-size: $font-size-8;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 10px;
      color: $color-1;
    }
   

  }

  /*&:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }*/

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}