#landing 
{
	height: 100vh;
	width: 100vw;
	//background-image: url("http://somosfuturo.com.ar/contenido/wp-content/uploads/2015/08/500-landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    //background-color: $color-1;

	ul 
	{
		li
		{
			.fa
			{
				opacity: 0.5;
			}
			figure
			{
				padding: 5%;
				margin: 0;
				width: 100%;
				height: 100%;

				&.effect
				{
					&:hover
					{
						figcaption {
					
							&:before
							{
								opacity: 1;
								//-webkit-transform: translate3d(0,0,0);
								//transform: translate3d(0,0,0);
							    -webkit-transform: scaleY(0);
							}
							h2
							{
								&.heading-primary 
								{
									

									@media (max-width: $screen-sm-max) 
									{
										-webkit-transform: translate3d(0,0%,0) translate3d(0,0px,0);
										transform: translate3d(0, 0%, 0) translate3d(0, 0px, 0);
									}

									transition: all 0.5s ease;

									&:hover
									{
										opacity: 0.6;
									}
								}
							}
						}	
						/*ul
						{
							&.bandera-menu
							{
								opacity: 1;
								-webkit-transform: translate3d(0,0,0);
								transform: translate3d(0,0,0);
							
								@media (max-width: $screen-sm-max) 
							    {
									display: none;
							    }	
							}
						}*/
						p
						{
							&.descripcion
							{
								opacity: 1;
								-webkit-transform: translate3d(0,0,0);
								transform: translate3d(0,0,0);
							
								@media (max-width: $screen-sm-max) 
							    {
									display: none;
							    }

								transition: all 0.5s ease;

								&:hover
								{
									opacity: 0.6;
								}
								.fa
								{
									margin-top: 20px;
								}
							}
						}	    	
					}
					figcaption
					{
						&:before
						{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							vertical-align: middle;
							content: '';
							opacity: 0;
						}
						h2 
						{	
							&.heading-primary 
							{
							position: absolute;
							top: 50%;
							padding: 0px;
							-webkit-transition: -webkit-transform 0.35s;
							transition: transform 0.35s;
							-webkit-transform: translate3d(0,-50%,0);
							transform: translate3d(0,-50%,0);
							}

							@media (max-width: $screen-sm-max) 
			    			{
			    			left: 10%;
			    				-webkit-transition: -webkit-transform 0.35s;
							transition: transform 0.35s;
							-webkit-transform: translate3d(0,0%,0);
							transform: translate3d(0,0%,0);
			    			}	
						}
					}
					/*ul
					{
						&.bandera-menu
						{
							list-style: none;
							opacity: 0;
							font-size: $font-size-small;
				    		line-height: 2.3;
				    		
							position: absolute;
							top: 40%;
							left: 0;
							padding: 2em;
							width: 100%;
							opacity: 0;
							-webkit-transition: opacity 0.55s, -webkit-transform 0.35s;
							transition: opacity 0.55s, transform 0.35s;
							-webkit-transform: translate3d(100%,0,0);
							transform: translate3d(100%,0,0);

							li
							{
								a
								{
									color: $color-6;
									transition: all 0.35s ease-in-out;
									display: block;							
									&:hover
									{
										opacity: 0.8;
										padding-left: 15px;
									}
								}
							}
						}
					}*/
						p
						{
							&.descripcion
							{
								list-style: none;
								font-size: $font-size-8;
								font-style: normal;
					    		color: $color-6;
					    		
								position: absolute;
								top: 37%;
								left: 0;
								padding: 5%;
								width: 100%;
								opacity: 0;
								-webkit-transition: opacity 0.55s, -webkit-transform 0.35s;
								transition: opacity 0.55s, transform 0.35s;
								-webkit-transform: translate3d(100%,0,0);
								transform: translate3d(100%,0,0);
								
								@media (max-width: $screen-md-max) 
						    	{
						    		font-size: $font-size-small;
						    	}
							}
						}
				}
			}
			figure.effect:hover figcaption::before ,
			{
				opacity: 1;
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
			&.soberania_politica
			{
				figure
				{
					&.effect
					{
						&:hover
						{
							figcaption 
							{
								&:before
								{
							    transform: scaleY(1);
							    -webkit-transform-origin: 50% 0;
							    transform-origin: 50% 0;
							    -webkit-transition-property: transform;
							    transition-property: transform;
							    -webkit-transition-duration: 0.3s;
							    transition-duration: 0.3s;
							    -webkit-transition-timing-function: ease-out;
							    transition-timing-function: ease-out;
								}
							}
						}		
						figcaption
						{
							&:before
							{
							background-color: rgba(0, 95, 162, 0.9);	
							-webkit-transition-property: color;
							transition-property: color;
						    -webkit-transform: translateZ(0);
						    transform: translateZ(0);
						    -webkit-transform: scaleY(0);
						    transform: scaleY(0);
							}
						}
					}		
				}
			}
			&.independencia_economica
			{
				figure
				{
					&.effect
					{
						&:hover
						{
							figcaption 
							{
								&:before
								{
							    transform: scaleY(1);
							    -webkit-transform-origin: 50% 0;
							    transform-origin: 50% 0;
							    -webkit-transition-property: transform;
							    transition-property: transform;
							    -webkit-transition-duration: 0.3s;
							    transition-duration: 0.3s;
							    -webkit-transition-timing-function: ease-out;
							    transition-timing-function: ease-out;
								}
							}
						}		
						figcaption
						{
							&:before
							{
							background-color: rgba(41, 196, 243, 0.9);	
							-webkit-transition-property: color;
							transition-property: color;
						    -webkit-transform: translateZ(0);
						    transform: translateZ(0);
						    -webkit-transform: scaleY(0);
						    transform: scaleY(0);
							}
						}
					}		
				}
			}
			&.justicial_social
			{
				figure
				{
					&.effect
					{
						&:hover
						{
							figcaption 
							{
								&:before
								{
							    transform: scaleY(1);
							    -webkit-transform-origin: 50% 0;
							    transform-origin: 50% 0;
							    -webkit-transition-property: transform;
							    transition-property: transform;
							    -webkit-transition-duration: 0.3s;
							    transition-duration: 0.3s;
							    -webkit-transition-timing-function: ease-out;
							    transition-timing-function: ease-out;
								}
							}
						}		
						figcaption
						{
							&:before
							{
							background-color: rgba(0, 162, 224, 0.9);	
							-webkit-transition-property: color;
							transition-property: color;
						    -webkit-transform: translateZ(0);
						    transform: translateZ(0);
						    -webkit-transform: scaleY(0);
						    transform: scaleY(0);
							}
						}
					}		
				}
			}			
		}		
	}	
	ul 
	{
		margin: 0;
		padding: 0;
	}
	.home-intro 
	{
		position: fixed;
		left: 42.5%;
		bottom: 15px;
		z-index: 500;
		width: 15%;
		text-align: center;

		@media (max-width: $screen-md-max) 
    	{
			width: 25%;
			left: 37.5%;
    	}
		@media (max-width: $screen-sm-max) 
    	{
			width: 45%;
			left: 27.5%;
			top: 2%;
    	}		
	    a {
	    	display: block;
	    	background-color: transparentize($color-1, 0.2);
	    	font-size: $font-size-7;
	    	font-weight: 400;
	    	color: transparentize($color-6, 0.3);
	    	border-radius: 5px;
	    	padding: 10px 10px;
	    	text-align: center;

			@media (max-width: $screen-md-max) 
	    	{
				font-size: $font-size-small;
				background-color: $color-1;
	    	} 

	    	&:hover 
	    	{
	    	background-color: $color-3;
	    	color: $color-6;

				@media (max-width: $screen-md-max) 
		    	{
		    		background-color: $color-3;
		    	}
	    	}
	    }
	}
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('http://somosfuturo.com.ar/contenido/wp-content/uploads/2015/08/500-landing.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}