#landing {

	height: 100vh;
	width: 100vw;
	background-image: url("http://somosfuturo.com.ar/contenido/wp-content/uploads/2015/08/500-landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $color-1;

	ul 
	{
		margin: 0;
			padding: 0;
	}
	.home-intro {
		position: fixed;
		left: 42.5%;
		bottom: 15px;
		z-index: 500;
		width: 15%;
		text-align: center;

		@media (max-width: $screen-md-max) 
    	{
			width: 25%;
			left: 37.5%;
    	}
		@media (max-width: $screen-sm-max) 
    	{
			width: 45%;
			left: 27.5%;
			top: 2%;
    	}		

	    a {
	    	display: block;
	    	background-color: transparentize($color-1, 0.2);
	    	font-size: $font-size-7;
	    	font-weight: 400;
	    	color: transparentize($color-6, 0.3);
	    	border-radius: 5px;
	    	padding: 10px 10px;
	    	text-align: center;

			@media (max-width: $screen-md-max) 
	    	{
				font-size: $font-size-small;
				background-color: $color-1;
	    	} 

	    	&:hover 
	    	{
	    	background-color: $color-1;
	    	color: $color-6;

				@media (max-width: $screen-md-max) 
		    	{
		    		background-color: $color-3;
		    	}
	    	}
	    }
	}
}