@mixin title-upper-dash()
{
	&:before
	{
		content: '';
		position: absolute;
		top: 0;
		height: 4px;
		width: 20px;
	}
};
@mixin transition()
{
	-webkit-transition: all .4s cubic-bezier(0.7,0,.3,1);
    -moz-transition: all .4s cubic-bezier(0.7,0,.3,1);
    transition: all .4s cubic-bezier(0.7,0,.3,1);
}
