#-post{

	background-size: cover;
	background-position: center;

	ul
	{
		&.indice-subpolitica
		{
			li
			{
			    //background: rgba(0,0,0,0.2);

				.fa
				{
					color: #FFF;
					opacity: 0.6;
				}
				
				@include transition;

				&:hover
				{
					//opacity: 0.5;
					padding-left: 15px;
					font-weight: 700;
				}
			}
		}
	}
}




