#sub-term {

	width: 100%;
	background-size: cover;
	background-position: center;

	.cd-title {

		.fa 
		{
			color: $color-6;
			opacity: 0.6;

			@media (max-width: $screen-xs-max)
		    {
		      display: none;
		    }
		}
		.heading-primary {
			/*background: transparentize($color-1, 0.2);*/
			
			/*@media (max-width: $screen-sm-max)
			{
				font-size: $font-size-4;
				padding: 3% 10%;
				margin-top: 0;
			}*/
		}
		a {
			color: #fff;
			transition: all 0.35s ease-in-out;

			&:hover 
			{
				opacity: 0.5;
				padding-left: 15px;
			}
		}
	
	}


}
