#term {

	//padding: 0px 80px;
	width: 100%;

	.cd-title {

		.heading-primary {
			color: $color-6;
			padding: 15px 80px 0;
			font-size: $font-size-3;
			/*background: transparentize($color-1, 0.2);*/

			@media (max-width: $screen-sm-max)
			{
				font-size: $font-size-4;
			}


			&:before {
				background-color: $color-6;
				content: "";
				position: absolute;
				top: 0px;
				height: 4px;
				width: 20px;
			}
		}
		a {
			color: #fff;
		}

		.title {
			background-color: $color-1;
			padding: 5px 0 0 0;
			position: absolute;
			top: 550px;
			width: 75%;

				@media (max-width: $screen-sm-max)
					{
						position: relative;
						background-color: transparent;
						top: 0;
						padding-bottom: 8%;
					}
		}		
	}


}
