/* -------------------------------- 

Colors

-------------------------------- */

$color-1: #005FA2; // Soberia Politica
$color-2: #29C4F3; // Independencia Economica
$color-3: #00A2E0; // Justicia Social
$color-4: #009ABE; // Tenemos futuro
$color-5: #E4E4E6; // Gray
$color-6: #FFFFFF; // White
$color-7: #999; // Gray
$color-highlight: #E1F3FC; //highlight
$opacity: 0.2;

/* -------------------------------- 

Fonts

-------------------------------- */

$title-font: 'Source Sans Pro', sans-serif;
$article-font: 'Merriweather Sans', serif;
/*$primary-font: 'PT Sans', sans-serif;
$secondary-font: 'Roboto Slab', serif;
$secondary-font: 'Merriweather', serif;*/

/* -------------------------------- 

Font Sizes

-------------------------------- */

$font-size-base: 				15px;							// 15px
$font-size-1:					$font-size-base * 2.666;		// 40px
$font-size-2:					$font-size-base * 2.4;			// 36px
$font-size-3:					$font-size-base * 2.13;			// 32px
$font-size-4:					$font-size-base * 1.75;			// 28px
$font-size-5:					$font-size-base * 1.6;			// 24px
$font-size-6:					$font-size-base * 1.4; 			// 21px
$font-size-7:					$font-size-base * 1.2;			// 18px
$font-size-8:					$font-size-base * 1.066;		// 16px
$font-size-small:				$font-size-base * 0.866;		// 13px
$font-size-xsmall:				$font-size-base * 0.8;			// 12px


/* -------------------------------- 

Article Styles

-------------------------------- */

$line-height-base:				24px;
$line-height-1:					$line-height-base * 2;			// 48px
$line-height-5:					$line-height-base * 1.25;		// 30px
$line-height-7:					$line-height-base * 0.75;		// 18px
$line-height-small:				$line-height-base * 0.55;		// 13px


$base-border-radius: 3px !default;
$base-spacing: 1.5em !default;
$action-color: #477DCA !default;
$dark-gray: #666666 !default;
$light-gray: #DDDDDD !default;
$medium-screen: em(640) !default;
$base-font-color: $dark-gray !default;


