/* -------------------------------- 

Colors

-------------------------------- */

$color-1: #005FA2; // Soberia Politica
$color-2: #29C4F3; // Independencia Economica
$color-3: #00A2E0; // Justicia Social
$color-4: #009ABE; // Desafios
$color-5: #E4E4E6; // Gris

/* -------------------------------- 

Fonts

-------------------------------- */

$title-font: 'PT Sans', sans-serif;
$article-font: 'Merriweather', serif;
$sans-serif: $title-font;
$serif: $article-font;
/*$primary-font: 'PT Sans', sans-serif;
$secondary-font: 'Roboto Slab', serif;
$secondary-font: 'Merriweather', serif;*/

/* -------------------------------- 

Font Sizes

-------------------------------- */

$base-font: 18px;
$base-font-1: $base-font * 2;

/* -------------------------------- 

Article Styles

-------------------------------- */

$base-border-radius: 3px !default;
$base-line-height: 1.4em !default;
$base-spacing: 1.5em !default;
$action-color: #477DCA !default;
$dark-gray: #666 !default;
$light-gray: #DDD !default;
$medium-screen: em(640) !default;
$base-font-color: $dark-gray !default;


