/* -------------------------------- 

Colors

-------------------------------- */

$color-1: #005FA2; // Soberia Politica
$color-2: #29C4F3; // Independencia Economica
$color-3: #00A2E0; // Justicia Social
$color-4: #009ABE; // Tenemos futuro
$color-5: #E4E4E6; // Gray
$color-6: #FFFFFF; // White
$color-7: #999; // Gray
$color-8: #555; // Gray-base
$color-highlight: #E1F3FC; //highlight
$opacity: 0.2;

/* -------------------------------- 

Fonts

-------------------------------- */

$title-font: 'Source Sans Pro', sans-serif;
$article-font: 'Merriweather Sans', serif;
/*$primary-font: 'PT Sans', sans-serif;
$secondary-font: 'Roboto Slab', serif;
$secondary-font: 'Merriweather', serif;*/

/* -------------------------------- 

Font Sizes

-------------------------------- */

$font-size-base: 				15px;							// 15px
$font-size-1:					$font-size-base * 2.666;		// 40px
$font-size-2:					$font-size-base * 2.4;			// 36px
$font-size-3:					$font-size-base * 2.13;			// 32px
$font-size-4:					$font-size-base * 1.75;			// 28px
$font-size-5:					$font-size-base * 1.6;			// 24px
$font-size-6:					$font-size-base * 1.4; 			// 21px
$font-size-7:					$font-size-base * 1.2;			// 18px
$font-size-8:					$font-size-base * 1.066;		// 16px
$font-size-small:				$font-size-base * 0.866;		// 13px
$font-size-xsmall:				$font-size-base * 0.8;			// 12px


/* -------------------------------- 

Article Styles

-------------------------------- */

$line-height-base:				1;
$line-height-small:				$line-height-base * 0.55;
$line-height-text:				$line-height-base * 1.6;
$line-height-subtitle:			$line-height-base * 1.4;
$line-height-title:				$line-height-base * 1.2;
$line-height-ul:				$line-height-base * 1.8;


$base-border-radius: 3px !default;
$base-spacing: 1.5em !default;
$action-color: #477DCA !default;
$dark-gray: #666666 !default;
$light-gray: #DDDDDD !default;
$medium-screen: em(640) !default;
$base-font-color: $dark-gray !default;


/* -------------------------------- 

Media Queries / Grid

-------------------------------- */

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


