/* -------------------------------- 

Colors

-------------------------------- */

$color-1: #005FA2; // Soberia Politica
$color-2: #29C4F3; // Independencia Economica
$color-3: #00A2E0; // Justicia Social
$color-4: #009ABE; // Desafios
$color-5: #E4E4E6; // Gray
$color-6: #FFFFFF; // White

/* -------------------------------- 

Fonts

-------------------------------- */

$title-font: 'PT Sans', sans-serif;
$article-font: 'Roboto Slab', serif;
$sans-serif: $title-font;
$serif: $article-font;
/*$primary-font: 'PT Sans', sans-serif;
$secondary-font: 'Roboto Slab', serif;
$secondary-font: 'Merriweather', serif;*/

/* -------------------------------- 

Font Sizes

-------------------------------- */

$font-size-base: 				16px;								// 16px
$font-size-1:					$font-size-base * 2.5;				// 40px
$font-size-2:					$font-size-base * 2.25;				// 36px
$font-size-3:					$font-size-base * 2;				// 32px
$font-size-4:					$font-size-base * 1.75;				// 28px
$font-size-5:					$font-size-base * 1.5;				// 24px
$font-size-6:					$font-size-base * 1.3125; 			// 21px
$font-size-7:					$font-size-base * 1.125;			// 18px
$font-size-small:				$font-size-base * 0.875; 			// 14px
$font-size-xsmall:				$font-size-base * 0.75;			// 12px


/* -------------------------------- 

Article Styles

-------------------------------- */

$line-height-base:				1.6em;
$line-height-5:					$line-height-base * 1.5;


$base-border-radius: 3px !default;
$base-spacing: 1.5em !default;
$action-color: #477DCA !default;
$dark-gray: #666 !default;
$light-gray: #DDD !default;
$medium-screen: em(640) !default;
$base-font-color: $dark-gray !default;


