<div class="projects-container -half">
	<ul>
		<li class="cd-single-project">
			<div class="cd-title">
				<h2>
				
				{{model.term.name}}
				</h2>
				<p>
					{{#link-to 'index'}}
					Indice
				{{/link-to}}
				</p>

			</div> <!-- .cd-title -->
		</li>

		
	</ul>
</div> <!-- .project-container -->

<div class="chapters-container">
<ul>
	{{#each model.subterms as |term|}}
		<li>{{#link-to 'sub-term.show' term.id}} {{{term.name}}} {{/link-to}} ({{{term.count}}})</li>
	{{/each}}
</ul>
</div>