<div {{bind-attr class=":projects-container :-half model.term.slug"}} >
	<ul>
		<li class="cd-single-project">
			<div class="cd-title">
				<p>
					{{#link-to 'index'}}
					Volver al indice
				{{/link-to}}
				</p>
				<small>Categoria</small>
				<h1>
					
					{{model.term.name}}
				</h1>
				

			</div> <!-- .cd-title -->
		</li>

		
	</ul>
</div> <!-- .project-container -->

<div class="chapters-container">
<ul>
	{{#each model.subterms as |term|}}
		<li>{{#link-to 'sub-term.show' term.id}} {{{term.name}}} {{/link-to}} ({{{term.count}}})</li>
	{{/each}}
</ul>
</div>