<div {{bind-attr id="model.term.slug" class=":projects-container :-half model.term.slug"}} >

	<div id="term" class="cd-single-project">
		<div class="cd-title opacity">
			<ul>
				<li class="heading-index">
					{{#link-to 'index'}}
					Tenemos proyecto
					{{/link-to}}</li>
				<!--<li class="heading-sub-term">Categoría</li>-->
			</ul>	

			<div class="title"><h1 class="heading-primary">{{model.term.name}}</h1>
			<!--<span>{{model.term.description}}</span>-->
			</div>
		</div> <!-- .cd-title -->
	</div>

</div> <!-- .project-container -->


<div class="chapters-container">
<ul class="cards">
	{{term-list terms=model.subterms}}
</ul>
</div>

