<div id="landing" class="projects-container">
	<ul>
		<li id="book-cover" class="cd-single-project">
			<div class="cd-title">
				<img src="/assets/images/titulo-libro.svg" alt="Tenemos Patria, Tenemos Proyecto, Somos Futuro">
			</div> <!-- .cd-title -->
		</li>
		<li id="book-menu" class="cd-single-project effect">
			<div class="cd-title">
				<ul class="home-politicas">
				{{#each model.items as |menuItem|}}
					{{#unless menuItem.parent}}
						{{wp-menu-item item=menuItem}}
					{{/unless}}
				{{/each}}
				</ul>
			</div> <!-- .cd-title -->
		</li>
	</ul>
	<video autoplay poster="http://somosfuturo.com.ar/contenido/wp-content/uploads/2015/08/500-landing.jpg" id="bgvid" loop>
		<source src="http://somosfuturo.com.ar/contenido/wp-content/uploads/2015/11/back-video-NYC.mp4" type="video/mp4">
	</video>
</div> <!-- .project-container -->
