<div id="landing" class="projects-container">
	<ul>
		<li class="cd-single-project soberania_politica">
			<div class="cd-title">
				<h2 class="heading-primary">
					{{#link-to 'term.show' 1}}
					Soberania Politica
				{{/link-to}}
				</h2>
			</div> <!-- .cd-title -->
		</li>
		<li class="cd-single-project independencia_economica">
			<div class="cd-title">
				<h2 class="heading-primary">{{#link-to 'term.show' 12}}
					Independencia economica
				{{/link-to}}
				</h2>
			</div> <!-- .cd-title -->
		</li>
		<li class="cd-single-project justicial_social" >
			<div class="cd-title">
				<h2 class="heading-primary">{{#link-to 'term.show' 13}}
					Justicia Social
				{{/link-to}}</h2>

			</div> <!-- .cd-title -->
		</li>
		<li class="cd-single-project tenemos_futuro">
			<div class="cd-title">
				<h2 class="heading-primary">
					{{#link-to 'sub-term.show' 156}}
						Tenemos futuro
					{{/link-to}}
				</h2>
			</div> <!-- .cd-title -->
		</li>
	</ul>
	<div class="home-intro">
		<h1>
			{{#link-to 'post.show' 473}}
				Introduccion al libro
			{{/link-to}}
		</h1>
	</div>
</div> <!-- .project-container -->