<div id="landing" class="projects-container">
	<ul>
		<li class="cd-single-project soberania_politica">
			<div class="cd-title">
				<figure class="effect-sadie">
					<figcaption>
						<h2 class="heading-primary">Soberanía Política</h2>
						<ul class="bandera-menu">
							<li><i class="fa fa-angle-right" aria-hidden="true"></i>
							Memoria, verdad y justicia</li>
							<li>Integración regional: américa latina libre y unida</li>
							<li>Política exterior autónoma y agenda para el desarrollo</li>
						</ul>
						{{#link-to 'term.show' 1}}{{/link-to}}
					</figcaption>
				</figure>
			</div> <!-- .cd-title -->
		</li>
		<li class="cd-single-project independencia_economica">
			<div class="cd-title">
				{{#link-to 'term.show' 12}}
					<h2 class="heading-primary">
						Independencia económica
					</h2>
				{{/link-to}}	
			</div> <!-- .cd-title -->
		</li>
		<li class="cd-single-project justicial_social" >
			<div class="cd-title">
				{{#link-to 'term.show' 13}}
					<h2 class="heading-primary">
						Justicia Social
					</h2>
				{{/link-to}}
			</div> <!-- .cd-title -->
		</li>
		<li class="cd-single-project tenemos_futuro">
			<div class="cd-title">
				{{#link-to 'sub-term.show' 156}}
					<h2 class="heading-primary">
							Tenemos futuro
					</h2>
				{{/link-to}}
			</div> <!-- .cd-title -->
		</li>
	</ul>
	<div class="home-intro">
		<h2>
			{{#link-to 'post.show' 473}}
				Ir a la Introducción
			{{/link-to}}
		</h2>
	</div>
	<!--figure>
		<img src="http://somosfuturo.com.ar/contenido/wp-content/uploads/2015/07/500.jpg" alt="Somos Futuro">
	</figure-->
</div> <!-- .project-container -->