<div id="landing" class="projects-container">
	<ul>
		<li class="cd-single-project soberania_politica">
			<div class="cd-title">
				<figure class="effect">
					<figcaption>
						<h2 class="heading-primary">{{#link-to 'term.show' 1}}Soberanía Política{{/link-to}}</h2>
					</figcaption>
				</figure>
			</div> <!-- .cd-title -->
		</li>
		<li class="cd-single-project independencia_economica">
			<div class="cd-title">
				<figure class="effect">
					<figcaption>
						<h2 class="heading-primary">{{#link-to 'term.show' 12}}Independencia económica{{/link-to}}</h2>
					</figcaption>
				</figure>
			</div> <!-- .cd-title -->
		</li>
		<li class="cd-single-project justicial_social" >
			<div class="cd-title">
				<figure class="effect">
					<figcaption>
						<h2 class="heading-primary">{{#link-to 'term.show' 13}}Justicia Social{{/link-to}}</h2>
					</figcaption>
				</figure>
			</div> <!-- .cd-title -->
		</li>
	</ul>
</div> <!-- .project-container -->