<div id="landing" class="projects-container">
	<ul>
		<li id="book-cover" class="cd-single-project">
			<div class="cd-title">
				<img src="/assets/images/titulo-libro.svg" alt="Tenemos Patria, Tenemos Proyecto, Somos Futuro">
			</div> <!-- .cd-title -->
		</li>
		<li id="book-menu" class="cd-single-project effect">
			<div class="cd-title">
				<ul class="home-politicas">
				{{#each model.items as |menuItem|}}
					{{#unless menuItem.parent}}
						{{wp-menu-item item=menuItem}}
					{{/unless}}
				{{/each}}
				</ul>
			</div> <!-- .cd-title -->
		</li>
	</ul>
</div> <!-- .project-container -->

<div class="home-share">
	{{facebook-feed data-desc="La publicación que estamos presentando es un balance de los doce años que transcurren desde mayo del 2003 hasta mayo del 2015. Este periodo constituye la base para continuar el sueño que manifestara Néstor Kirchner cuando asumió como Presidente el 25 de mayo del 2003." data-title="Tenemos Patria, Tenemos Proyecto, Tenemos Futuro" data-image="http://somosfuturo.com.ar/contenido/wp-content/uploads/2015/11/tapa-libro.jpg" data-caption="Somos futuro" class="facebook-share-button"}}

	<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Somos%20Futuro!!%20http%3A%2F%2Fsomosfuturo.com.ar%2F%20%23SomosFuturo" data-size="large">
		{{fa-icon 'twitter'}}
	</a>
</div>
